@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.top-container {
  margin-top: 150px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}



.input-position {
    @apply flex justify-start items-center
}

.input-box {
   @apply block mb-5 bg-white border-2  rounded-2xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent
}

.label {
    @apply text-gray-600 font-bold 
}

.input-error {
    @apply text-sm mb-3 text-red-500 px-3
}

.dropdown-item {
   @apply pb-4 pl-10 hover:text-[#4EAC14]
}

