@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulse {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.02);
  }
}

.pulse {
  animation: pulse 2s infinite;
  transform-origin: left; /* Ensure the pulsing occurs from the right */
}


.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.top-container {
  margin-top: 150px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}



.transition-height {
  transition: height 1.5s ease-out, opacity 0.3s ease-out;
}
.collapse {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.expand {
  height: auto;
  opacity: 1;
}



/* Force the star rating to display horizontally */
[class^="style-module_starRatingWrap"] {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

[class^="style-module_starRatingWrap"] svg {
  display: inline-block !important;
  margin-right: 1px !important;
}





.action-button {
  @apply w-[170px] h-[50px] rounded-xl text-2xl;
}

.input-position {
  @apply flex justify-start items-center;
}

.input-box {
  @apply block mb-5 bg-white border-2  rounded-2xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

.input-address {
  @apply block mb-3 bg-white border-2  rounded-2xl border-r-8 border-transparent  ring-2 ring-[#e5e7eb] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

.label {
  @apply text-gray-600 font-bold;
}

.input-error {
  @apply text-sm mb-3 text-red-500 px-3;
}

.dropdown-item {
  @apply pb-2 text-left hover:text-[#4EAC14];
}

.icon-hover {
  @apply text-[#595959] hover:text-[#4EAC14];
}

.cart-data {
  @apply py-[5px]
}

.page-header {
  @apply text-2xl md:text-4xl text-[#535353] pb-1 border-b-2 mb-4
}

:root {
  --bg: #e8edf5;
  --bgSoft: white;
  --text: black;
  --textSoft: #4eac14;
  --background-view: #98de6d;
  --background-delete: #f77373bf;
  --background-add: #98de6d;
  --background-hover: #e3e6e9;
  --padding: 10px 10px;
  --font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
