@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --bg: #F3F3F3;
     --bgSoft: #eaeaea;
    --text: black;
    --textSoft: #4EAC14; */
       --bg: #E5F4E7;
     --bgSoft: #D1E9D2;
    --text: black;
    --textSoft: #4EAC14;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif; 
}

body{
    background-color:  var(--bg);
    color: var(--text)
}

a{
    color: inherit;
    text-decoration: none;
}

