.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.titleName {
    font-size: 1.875rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 2px solid #98de6d;
    width: fit-content;
}

.error {
    padding: 1rem;
    margin-bottom: 1.5rem;
    color: #dc2626;
    background-color: #fee2e2;
    border-radius: 0.375rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: #374151;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
}

.varietyHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: #98de6d;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #7fc05b;
}

.varietyItem {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.deleteButton {
    color: #ef4444;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.deleteButton:hover {
    color: #dc2626;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.cancelButton, .submitButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancelButton {
    background-color: #e5e7eb;
    color: #374151;
}

.cancelButton:hover {
    background-color: #d1d5db;
}

.submitButton {
    background-color: #3b82f6;
    color: white;
}

.submitButton:hover {
    background-color: #2563eb;
}

.submitButton:disabled {
    background-color: #93c5fd;
    cursor: not-allowed;
}