/* Global container styles */
.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Flexbox container for top section */
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Add new button styles */
.addButton {
    padding: 10px;
    background-color: #98de6d;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders between cells are merged */
}

.table td {
    padding: 15px;
    border-bottom: 1px solid #ddd; /* Adds a subtle border between rows */
    text-align: center; /* Center the text horizontally */
    vertical-align: middle; /* Center the text vertically */
}

/* Button styles */
.buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

/* Button variations */
.view {
    background-color: rgba(156, 204, 235, 0.75);
}

/* Status indicator styles */
.status {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: black;
}

/* Flex container for standards */
.standardsContainer {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
}

.standardsContainer img {
    margin: 0 5px; /* Add some space between images */
    max-width: 40px; /* Ensure the images don't exceed a certain width */
}

/* Status colors */
.รอตรวจสอบใบรับรอง {
    background-color: rgba(247, 203, 115, 0.75); /* Using rgba for better color transparency */
}

.ได้รับการรับรอง {
    background-color: rgba(175, 214, 238, 0.75);
}

.ไม่อนุมัติ	 {
    background-color: rgba(247, 115, 115, 0.75);
}

.หมดอายุ {
    background-color: #afafaf;
}

.delete {
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(247, 115, 115, 0.75); /* Red color for delete action */
}

.delete:hover {
    color: #ff7875; /* Lighter red on hover */
}

/* certificate.module.css */
.standardsContainer {
    display: flex;
    flex-direction: column; /* ทำให้แสดงในแนวตั้ง */
    gap: 8px; /* ระยะห่างระหว่างแต่ละมาตรฐาน */
  }
  
 
  
  .standardContent {
    display: flex;
    align-items: center;
  }
  
  .standardName {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
  }
  
  .noData {
    text-align: center;
    color: var(--textSoft);
    font-style: italic;
  }